<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Home Page</title>
                <link rel="stylesheet" type="text/css" href="/css/style.css">
        </head>
        <body>
        <div class="full-page">
                <div class=navbar1>
                        <a href="/">Healthcare<br> WebApp</a>
                </div>
                <div id="new-patient"class="login-page">
                        <div class="form-box1">
                                <div class="button-box">
                                        <div id='btn'></div>
                                        <div type="text" class="txt">Enter details below</div>
                                </div>
                                <form id='login'action="#" th:action="@{'/update/' + ${id}}" th:object="${patient}"method="post"class="input-group-login">
                                        <input type="text" name="id"th:field="*{id}" readonly="readonly" required class="input-field1">
                                        <input type="text" name="firstName"th:field="*{firstName}" required class="input-field1">
                                        <input type="text" name="lastName"th:field="*{lastName}" required class="input-field1">
                                        <input type="text" name="age"th:field="*{age}" required class="input-field1">
                                        <input type="text" list="genders" name="gender"th:field="*{gender}" required class="input-field1">
                                        <datalist id="genders">
                                                <option value="Male">
                                                <option value="Female">
                                                <option value="Others">
                                                <option value="Prefer not to say">
                                        </datalist>
                                        <input type="text" name="city"th:field="*{city}" required class="input-field1">
                                        <input type="text" name="pincode"th:field="*{pincode}" required class="input-field1">
                                        <button type ="submit" class="submit-btn">Submit</button>
                                </form>
                        </div>
                </div>
        </div>
        </body>
</html>
        
        </div>
        </body>

</html>