<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <meta charset="utf-8" /> -->
<title>Edit Patient</title>
</head>
<body>
    <div align="center">
        <h1>Edit Patient</h1>
        <br />
        <form action="#" th:action="@{'/update/' + ${id}}" th:object="${patient}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td> ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr> 
                <tr>             
                    <td>First Name:</td>
                    <td>
                        <input type="text" th:field="*{firstName}" pattern="^[a-zA-Z0-9'.]{3,50}$" title="only alphabets, numbers, apostrophe, dot characters are allowed." required />
                    </td>
                </tr>        
                <tr>             
                    <td>Last Name:</td>
                    <td>
                        <input type="text" th:field="*{lastName}" pattern="^[a-zA-Z0-9'.]{3,50}$" title="only alphabets, numbers, apostrophe, dot characters are allowed." required />
                    </td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{age}" pattern="(0?[1-9]|[1-9][0-9]|[1][0-1][0-9]|120|121|122|123|124|125)" title="age should be between 0-125" required/></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td><input type="text" th:field="*{gender}" /></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" th:field="*{city}" pattern="^[A-Za-z]{3,100}$" title="Only alphabets are allowed" required /></td>
                </tr> 
				<tr>
                    <td>Pincode:</td>
                    <td><input type="text" th:field="*{pincode}" pattern="^[1-9][0-9]{5}$" maxlength="6" title="pincode should be exact 6 digit" required/></td>
                </tr>				
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>