<html>

<head>
        <title>Patient's Details</title>
</head>

<body>
        <h2> Fill this form: </h2>
        <form action="create_new_patient" method="post">
                First Name : <br><input type="text" name="firstName" /><br><br>
                Last Name : <br><input type="text" name="lastName" /><br><br>
                Age : <br><input type="text" name="age" /><br><br>
                Gender : <br>
                Male <input type="radio" id="male" name="gender" value="male">

                Female <input type="radio" id="female" name="gender" value="female">
                Other <input type="radio" id="other" name="gender" value="other">
                <br><br>

                City : <br><input type="text" name="city" /><br><br>
                Pincode : <br><input type="text" name="pincode" /><br><br><br>

                <button type="submit">Submit</button>

        </form>

</body>

</html>