<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Home Page</title>
                <link rel="stylesheet" type="text/css" href="/css/style.css">
        </head>
        <body>
        <div class="full-page">
                <div class=navbar1>
                        <a href="/">Healthcare<br> WebApp</a>
                </div>
                <div id="new-patient"class="login-page">
                        <div class="form-box1">
                                <div class="button-box">
                                        <div id='btn'></div>
                                        <div type="text" class="txt">Enter details below</div>
                                </div>
                                <form id='login'action="create_new_patient" method="post"class="input-group-login">
                                        <input type="text" name="firstName"placeholder='First Name' required class="input-field">
                                        <input type="text" name="lastName"placeholder='Last Name' required class="input-field">
                                        <input type="text" name="age"placeholder='Age' required class="input-field">
                                        <input type="text" list="genders" name="gender"placeholder='Gender' required class="input-field">
                                        <datalist id="genders">
                                                <option value="Male">
                                                <option value="Female">
                                                <option value="Others">
                                                <option value="Prefer not to say">
                                        </datalist>
                                        <input type="text" name="city"placeholder='City' required class="input-field">
                                        <input type="text" name="pincode"placeholder='Area Pincode' required class="input-field">
                                        <button type ="submit" class="submit-btn">Submit</button>
                                </form>
                        </div>
                </div>
        </div>
        </body>
</html>
        
        </div>
        </body>

</html>