<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Search fields</title>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  -->
    <head>
<body>
    <h1> All Patients </h1>
    <hr>
    <table>
        <thead>
        <tr>
            <th>Patient ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>City</th>
            <th>Pin Code</th>
            <th>Action</th>
            <th>Upload Profile Photo</th>
            <th>View Profile</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.firstName}"></td>
                <td th:text="${patient.lastName}"></td>
                <td th:text="${patient.age}"></td>
                <td th:text="${patient.gender}"></td>
                <td th:text="${patient.city}"></td>
                <td th:text="${patient.pincode}"></td>
                <td>
                    <a th:href="@{'/edit/' + ${patient.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${patient.id}}">Delete</a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/upload_pic/' + ${patient.id}}">Upload Profile Pic</a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/view/' + ${patient.id}}">View Profile</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- <a href ="/"> click here to go home page</a> -->
<!--------------pagible part-->

        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li th:if = "${currentPage != 0" class="page-item"><a th:href="@{'/view_all_patient/' + ${currentPage-1}}"class="page-link" href="#">Previous</a></li>
              <li th:classappend="${currentPage == 1-1?'active':''}"th:each= "i: ${numbers.sequence(1, totalPages)}" class="page-item"><a th:href="@{'/view_all_patient/' + ${i-1}}"class="page-link" href="#"><span th:text="${i}"></span></a></li>
              <li th:if="${currentPages+1 != totalPages}"class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li th:if="${currentPages+1 != totalPages}"class="page-item"><a th:href="@{'/view_all_patient/' + ${currentPage+1}}" class="page-link" href="#">Next</a></li>
            </ul>
          </nav> -->
<!-- <--------!pagination part---------------->
<td>
    <nav aria-label="Page navigation example">
       <ul class="pagination">
         <li class="page-item"><a class="page-link" href="#">Previous</a></li>
         <li class="page-item"><a class="page-link" href="#">1</a></li>
         <li class="page-item"><a class="page-link" href="#">2</a></li>
         <li class="page-item"><a class="page-link" href="#">3</a></li>
         <li class="page-item"><a class="page-link" href="#">Next</a></li>
       </ul>
     </nav> 

   </td>

          <a href ="/"> click here to go home page</a>

</body>
</html>