<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Patient Details</title>
  </head>
    <body>
      <h1 th:text= "${firstName} +' ' + ${lastName} + ' Profile'" ></h1>
      <img th:src="@{${PhotosImagePath}}" />
        <h3 th:text="'First Name: ' + ${firstName}"></h3>
        <h3 th:text="'Last Name: ' + ${lastName}"></h3>
        <h3 th:text="'Age: ' + ${age}"></h3>
        <h3 th:text="'Gender: ' + ${gender}"></h3>
        <h3 th:text="'City: ' + ${city}"></h3>
        <h3 th:text="'Pin Code: ' + ${pincode}"></h3>
        <h3>Documents:</h3><br>
        <!-- <a th:href="@{'/downloads/'+ ${id}}"><h3 th:text="${docs}"></h3></a><br><br> -->

        <!-- <c:forEach items="${docs}" var="docs">
          <a th:href="@{'/downloads/'+ ${id}}"><h3 th:text="${docs[0]}"></h3></a>
          <a th:href="@{'/downloads/'+ ${id}}"><h3 th:text="${docs[1]}"></h3></a>
        </c:each> -->
        
        <span th:each="doc: ${docs}">
        <a th:href="@{'/downloads/'+ ${id} + '/' + ${doc}}"><h3 th:text="${doc}"></h3></a>
        </span>
          <!-- <embed th:src="@{${DocsFilePath}}" />  -->
        <!-- <table>
          <thead>
          <tr>
            <th>Documents:</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="docs : ${docs}"></tr>
        <td><a th:href="@{'/downloads/'+ ${id}}"><h3 th:text="${docs[0]}"></h3></a>
        </td>
            <a th:href="@{'/downloads/'+ ${id}}"><h3 th:text="${docs[1]}"></h3></a>
    
        </tr>
        </tbody>
        </table> -->
        
        <a href ="/"> click here to go home page</a>
    </body>
    
    </html>