<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Search fields</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.0.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.6.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
   
    <head>
<body>
  <div class="container">
    <h1> All Doctors </h1>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Doctor ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Specialization</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>City</th>
                <th>Pin Code</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="doctor : ${doctors}">
                    <td th:text="${doctor.id}"></td>
                    <td th:text="${doctor.firstName}"></td>
                    <td th:text="${doctor.lastName}"></td>
                    <td th:text="${doctor.specialization}"></td>
                    <td th:text="${doctor.phoneNumber}"></td>
                    <td th:text="${doctor.address}"></td>
                    <td th:text="${doctor.city}"></td>
                    <td th:text="${doctor.pincode}"></td>
                    <td>
                        <a th:href="@{'/edit/' + ${doctor.id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a th:href="@{'/delete/' + ${doctor.id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
<!-- ----------------------------------------------------------------------- -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if = "${currentPage != 0}" class="page-item"><a th:href="@{'/view_all_doctor/' + ${currentPage-1}}"class="page-link" href="#">Previous</a></li>
    <li th:classappend="${currentPage == 1-1?'active':''}"th:each= "i: ${#numbers.sequence(1, totalPage)}" class="page-item"><a th:href="@{'/view_all_doctor' + ${i-1}}"class="page-link" href="#"><span th:text="${i}"></span></a></li>
    
    <li th:if="${currentPage+1 != totalPage}"class="page-item"><a th:href="@{'/view_all_doctor' + ${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
          
        <a href ="/"> click here to go home page</a>

</body>
</html>