<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Patient Details</title>
  </head>
    <body>
      <h1 th:text= "${firstName} +' ' + ${lastName} + ' Profile'" ></h1>
      <img th:src="@{${PhotosImagePath}}" />
        <h3 th:text="'First Name: ' + ${firstName}"></h3>
        <h3 th:text="'Last Name: ' + ${lastName}"></h3>
        <h3 th:text="'Age: ' + ${age}"></h3>
        <h3 th:text="'Gender: ' + ${gender}"></h3>
        <h3 th:text="'City: ' + ${city}"></h3>
        <h3 th:text="'Pin Code: ' + ${pincode}"></h3>
        <h3>Documents:</h3><br>
        <a th:href="@{'/downloads/'+ ${id}}"><h3> th:text="${docs}"</h3></a><br><br>
          <!-- <embed th:src="@{${DocsFilePath}}" /> -->
        <!-- <table>
          <thead>
          <tr>
            <th>Documents:</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}"></tr>
        
        
        <td><a th:href="@{'/downloads'}"><h3 th:text="${patient.docs}"</h3></a><br><br>
        </td>
      </tr>
    </tbody>
</table> -->
        
        <a href ="/"> click here to go home page</a>
    </body>
    
    </html>